
<section class=" center aligned ui segment">
    <div class="ui huge purple label"><b>Current Members at Globo Gym</b></div>
</section>
<section class="ui four column cards list">
    {{#each members}}
        <div class="ui card">
            <section class="center aligned ui segment">
                <div class="center aligned ui icon">
                    <i class="huge purple user icon"> </i>
                </div>
                <section class="center aligned ui segment">
                    <p>Name: {{firstName}} {{lastName}}
                    <p> E-mail: {{email}} </p>
                    <p> Total Assessments: {{assessments.length}} </p>
                    <p>
                        <a href="/trainerdashboard/{{id}}" class="ui icon button">
                            <i class="icon folder open"></i>
                        </a>
                        <a href="/trainerdashboard/deletemember/{{id}}" class="ui icon button">
                            <i class="icon trash"></i>
                        </a>
                    </p>
                </section>
            </section>
        </div>
    {{/each}}
</section>



