<table class="ui celled table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Chest</th>
        <th>Arm</th>
        <th>Thigh</th>
        <th>Waist</th>
        <th>Hips</th>
        <th>Trend</th>
        <th>Comment</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    {{#each member.assessments}}
        <tr>
            <td>
                {{date}}
            </td>
            <td>
                {{weight}}
            </td>
            <td>
                {{chest}}
            </td>
            <td>
                {{upperarm}}
            </td>
            <td>
                {{thigh}}
            </td>
            <td>
                {{waist}}
            </td>
            <td>
                {{hips}}
            </td>
            <td>
                {{#if trend}}
                    <i class= "ui teal tag label"></i>
                {{else}}
                    <i class= "ui red tag label"></i>
                {{/if}}
            </td>
            <td>
                {{comments}}
            </td>
            <td>
          <a href="/dashboard/{{../member.id}}/deleteassessment/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>